<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>    
    <link rel="stylesheet" href="{{url_for('static' , filename='bulma/css/bulma.css')}}">
</head>

<body>
    <nav class="navbar" aria-label="main  navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="">
                <h1 class="title">University</h1>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="">Cursos</a>
                <a class="navbar-item" href="http://">Profesores</a>
            </div>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-success" href="{{url_for('login')}}">Iniciar </a>
                    <a class="button is-info" href="{{url_for('join' )}}">Crear cuenta</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container is-fluid is-mobile">
        {% block content %}
        {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
</body>

</html>